* {
}
body {
  background-color: #D3D3D3;
}

btn {
  height: auto;
  width: auto;
  padding: 10px;
  border-style: solid;
  border-color: #808080;
  border-width: 3px;
  margin: auto;
  font-size: 25px;
}

#gridContainer {
  margin: 25px 100px;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  height: 800px;
  border-style: solid;
  border-color: #808080;
  border-width: 5px;
}

.gridBox {
  width: 50px;
  height: 50px;
  display: inline;
  margin: 0 0;
  font-size: 0;
}

.colorChange {
  background-color: black;
}

#optionsContainer {
  margin: 50px 100px 0 100px;
  background-color: #D3D3D3;
  display: flex;
  flex-flow: row;
}

.resetButton {
  margin: auto;
}
